@page
@model ModernPhysics.Web.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Add pages</h4>
<form method="post" asp-page-handler="page">
    <label asp-for="@Model.InputPage.Title"></label>
    <input asp-for="@Model.InputPage.Title" />

    <label asp-for="@Model.InputPage.FriendlyUrl"></label>
    <input asp-for="@Model.InputPage.FriendlyUrl" />

    <label asp-for="@Model.InputPage.Tags"></label>
    <input asp-for="@Model.InputPage.Tags" />

    <label asp-for="@Model.InputPage.IsPublished"></label>
    <input asp-for="@Model.InputPage.IsPublished" />

    <label asp-for="@Model.InputPage.Content"></label>
    <input asp-for="@Model.InputPage.Content" />

    <label asp-for="@Model.InputPage.Category"></label>
    <input asp-for="@Model.InputPage.Category" />
    <button type="submit">Add</button>
</form>

<h4>Add blob</h4>
<form method="post" asp-page-handler="blob">
    <label asp-for="@Model.InputBlob.Name"></label>
    <input asp-for="@Model.InputBlob.Name" />

    <label asp-for="@Model.InputBlob.Path"></label>
    <input asp-for="@Model.InputBlob.Path" />

    <label asp-for="@Model.InputBlob.Type"></label>
    <input asp-for="@Model.InputBlob.Type" />

    <label asp-for="@Model.InputBlob.Url"></label>
    <input asp-for="@Model.InputBlob.Url" />

    <label asp-for="@Model.InputBlob.Description"></label>
    <input asp-for="@Model.InputBlob.Description" />
    <button type="submit">Add</button>
</form>