@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="clean-block clean-hero" style="background-image: url('img/main/physics.jpg'); color: rgba(9, 162, 255, 0.5);">
    <div class="text">
        <h2>Fizyka Współczesna</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        <form asp-page="/Resources" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" asp-for="Search">
                    <div class="input-group-append">
                        <button class="btn btn-dark btn-block" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Ostatnio dodane</h2>
        </div>
        <div class="row align-items-center">

            @if (Model.Posts != null)
            {
                @foreach (var post in Model.Posts)
                {
                    <div class="col-md-6 col-lg-6">
                        <a href="@post.FriendlyUrl">
                            <h3>@post.Title</h3>
                        </a>
                        <h5 class="text-muted">@post.Category.Name</h5>
                        <div style="margin-bottom: 10px;">
                            @if (post.PageTags != null)
                            {
                                @foreach (var pageTag in post.PageTags)
                                {
                                    <a class="badge badge-primary" style="margin-right: 5px;" href="#">@pageTag.Tag.Name</a>
                                }
                            }
                        </div>
                        <div class="getting-started-info">
                            <p>@post.Shortcut</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>