@page "/Resources/{category}/{posturl}"
@model ModernPhysics.Web.Pages.PostModel
@{
    ViewData["Title"] = "Post";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="clean-block clean-post dark" style="background-color: rgb(255,255,255);">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 style="margin-bottom: 16px;">Szukaj</h3>
                        <form asp-page="/Resources" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" asp-for="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-dark btn-block" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <h3 style="margin-bottom: 16px;">Tagi</h3>
                        <div style="margin-bottom: 16px;">
                            @foreach (var tag in Model.Tags)
                            {
                                <a class="badge badge-primary" style="margin-right: 5px;" href="#">@tag.Name</a>
                            }
                        </div>
                        <h3 style="margin-bottom: 16px;">Materiały</h3>
                        <div>
                            @foreach (var category in Model.Categories)
                            {
                                <div>
                                    <a class="btn text-left collapsible" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-@category.Id" href="#collapse-@category.Id" role="button">
                                        <span>@category.Name</span>
                                    </a>
                                    <div class="collapse" id="collapse-@category.Id">
                                        <ul>
                                            @foreach (var post in category.Pages)
                                            {
                                                <li><a href="/Resources/@category/@post.FriendlyUrl">@post.Title</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (Model.Post != null)
                        {
                            <div class="col-md-8 col-lg-9">
                                <div class="block-content">
                                    <div class="post-body">
                                        <h3>@Model.Post.Title</h3>
                                        <div class="post-info"><span>@Model.Post.CreatedBy</span><span>@Model.Post.CreatedAt</span></div>
                                        <div style="margin-bottom: 20px;font-size: 16px;">
                                            @foreach (var pageTag in Model.Post.PageTags)
                                            {
                                                <a class="badge badge-primary" style="margin-right: 5px;" href="#">@pageTag.Tag.Name</a>
                                            }
                                        </div>
                                        <div>
                                            @Model.Post.Content
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
</section>
