@page "/Resources/{category}/{posturl}"
@model ModernPhysics.Web.Pages.PostModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Post";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="clean-block clean-post dark" style="background-color: rgb(255,255,255);">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 style="margin-bottom: 16px;">Szukaj</h3>
                        <form asp-page="/Resources" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" asp-for="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-dark btn-block" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <h3 style="margin-bottom: 16px;">Materiały</h3>
                        <div>
                            @foreach (var category in Model.Categories)
                            {
                                <div>
                                    <a class="btn text-left collapsible" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-@category.Id" href="#collapse-@category.Id" role="button">
                                        <span>@category.Name</span>
                                    </a>
                                    <div class="collapse" id="collapse-@category.Id">
                                        <ul>
                                            @foreach (var post in category.Posts)
                                            {
                                                <li><a href="/Resources/@category.FriendlyName/@post.FriendlyUrl">@post.Title</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.Post != null)
                    {
                        <div class="col-md-8 col-lg-9">
                            <div class="block-content">
                                <div class="post-body">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a class="btn btn-warning fas fa-edit mb-3 p-2" href="/Admin/Manage/Posts/Edit/@Model.Post.Id.ToString()"> Edytuj</a>
                                    }
                                    <h3>@Model.Post.Title</h3>
                                    <div class="post-info"><span>@Model.Post.CreatedBy</span><span>@Model.Post.CreatedAt</span></div>
                                    <div>
                                        @Html.Raw(@Model.Post.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
</section>
