@page
@model ModernPhysics.Web.Pages.ViewModel
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Pages</h4>
@if (Model.Pages != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>FriendlyUrl</td>
                <td>CreatedAt</td>
                <td>CreatedBy</td>
                <td>ModifiedAt</td>
                <td>ModifiedBy</td>
                <td>IsPublished</td>
                <td>IsDeleted</td>
                <td>Content</td>
                <td>Order</td>
                <td>Category</td>
                <td>Tags</td>
            </tr>
        </thead>
        @foreach (var item in Model.Pages)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.FriendlyUrl</td>
                <td>@item.CreatedAt</td>
                <td>@item.CreatedBy</td>
                <td>@item.ModifiedAt</td>
                <td>@item.ModifiedBy</td>
                <td>@item.IsPublished</td>
                <td>@item.IsDeleted</td>
                <td>@item.Content</td>
                <td>@item.Order</td>
                <td>@item.Category.Name</td>
                <td>
                    @if (item.PageTags != null)
                    {
                        @foreach (var tag in item.PageTags)
                        {
                            if (tag != null)
                            {
                                <span>@tag.Tag.Name,</span>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>No pages found.</h4>
}

<h4>Tags</h4>
@if (Model.Tags != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Pages</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tags)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @if (item.PageTags != null)
                        {
                            @foreach (var pagetag in item.PageTags)
                            {
                                if (pagetag != null)

                                {
                                    <span>@pagetag.Page.Title,</span>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h4>No tags found.</h4>
}

<h4>Categories</h4>
@if (Model.Categories != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Pages</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @if (item.Pages != null)
                        {
                            @foreach (var post in item.Pages)
                            {
                                if (post != null)

                                {
                                    <span>@post.Title,</span>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h4>No categories found.</h4>
}


<h4>Blobs</h4>
@if (Model.Blobs != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Path</td>
                <td>Url</td>
                <td>Type</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Blobs)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Path</td>
                    <td>@item.Url</td>
                    <td>@item.Type</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h4>No blobs found.</h4>
}