@page
@model ModernPhysics.Web.Areas.Admin.Pages.Manage.CategoriesModel
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Fizyka Współczesna - Kategorie</h1>
<hr>

<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card card-left-outline-info">
            <div class="card-header">
                <h4>Obecne kategorie:</h4>
            </div>
            <div class="card-body">

                <div class="mb-3">
                    <a class="btn btn-success" asp-page="./Categories/Add">Dodaj kategorię</a>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm" id="pages" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>Nazwa</th>
                                <th>Przyjazna nazwa</th>
                                <th>Ikona</th>
                                <th>Edytuj</th>
                                <th>Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Categories)
                            {
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><a href="#">@item.Name</a></td>
                                    <td><span>@item.FriendlyName</span></td>
                                    <td><span class="@item.Icon"></span></td>
                                    <td>
                                        <form method="get" asp-page="./Categories/Edit" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" asp-page-handler="delete" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site/pages.js"></script>
}