@page
@model ModernPhysics.Web.Areas.Admin.Pages.Manage.CategoriesModel
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Fizyka Współczesna - Kategorie</h1>
<hr>

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
}

@* TODO: Add links to categories *@

<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card card-left-outline-info">
            <div class="card-header">
                <h4>Obecne kategorie:</h4>
            </div>
            <div class="card-body">

                <div class="mb-3">
                    <a class="btn btn-success" asp-page="./Categories/Add">Dodaj kategorię</a>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm" id="pages" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th><input type="checkbox"></th>*@
                                <th>Nazwa</th>
                                <th>Przyjazna nazwa</th>
                                <th>Autor</th>
                                <th>Data dodania</th>
                                <th>Zmodyfikowano przez</th>
                                <th>Data aktualizacji</th>
                                <th>Ikona</th>
                                <th>Edytuj</th>
                                <th>Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Categories)
                            {
                                <tr>
                                    @*<td><input type="checkbox"></td>*@
                                    <td><a href="#">@item.Name</a></td>
                                    <td><span>@item.FriendlyName</span></td>
                                    <td><a href="#" class="badge badge-primary">@item.CreatedBy</a></td>
                                    <td>@item.CreatedAt</td>
                                    <td><a href="#" class="badge badge-primary">@item.ModifiedBy</a></td>
                                    <td>@item.ModifiedAt</td>
                                    <td><span class="@item.Icon"></span></td>
                                    <td>
                                        <form method="get" asp-page="./Categories/Edit" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" asp-page-handler="delete" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            @* null category (no-category) *@
                            <tr>
                                @*<td><input type="checkbox"></td>*@
                                <td><a href="#">Bez kategorii</a></td>
                                <td><span>no-category</span></td>
                                <td><a href="#" class="badge badge-primary">-</a></td>
                                <td>-</td>
                                <td><a href="#" class="badge badge-primary">-</a></td>
                                <td>-</td>
                                <td><span class="fas fa-question"></span></td>
                                <td>
                                    <button type="submit" class="btn btn-warning disabled">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger disabled">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            @* End null category (no-category) *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site/pages.js"></script>
}