@page
@model ModernPhysics.Web.Areas.Admin.Pages.Manage.PostsModel
@{
    ViewData["Title"] = "Posts";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Modern Physics - Posts</h1>
<hr>

<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card card-left-outline-info">
            <div class="card-header">
                <h4>Current posts:</h4>
            </div>
            <!-- Filter form -->
            <div class="card-body">
                <div class="mb-3">
                    <a class="btn btn-success" asp-page="./Posts/Add">New Post</a>
                </div>

                <!-- /.Filter form -->
                <div class="table-responsive">
                    <table class="table table-striped table-sm" id="pages" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Date</th>
                                <th>Published</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Posts)
                            {
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><a href="#">@item.Title</a></td>
                                    <td><a href="#" class="badge badge-primary">@item.CreatedBy</a></td>
                                    <td><a href="#" class="badge badge-secondary">@item.Category.Name</a></td>
                                    <td>@item.CreatedAt</td>
                                    <td>
                                        @if (item.IsPublished == false)
                                        {
                                            <i class="fa fa-times danger"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-check success"></i>
                                        }
                                    </td>
                                    <td>
                                        <form method="get" asp-page="./Posts/Edit" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" asp-page-handler="delete" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site/pages.js"></script>
}