@page
@model ModernPhysics.Web.Areas.Admin.Pages.Manage.StorageModel
@{
    ViewData["Title"] = "Storage";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Fizyka Współczesna - Magazyn</h1>
<hr>

<div class="row">
    <div class="col-lg-12 mb-4">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="custom-file col-10">
                    <label asp-for="@Model.Files" class="custom-file-label">Pliki</label>
                    <input asp-for="@Model.Files" class="custom-file-input">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary ml-2">
                        <span class="fa fa-cloud-upload-alt mr-1"></span>
                        <span>Wyślij</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<form method="post">
    <div class="row">


        @foreach (var blob in Model.Blobs)
        {
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <div class="card-header d-inline">
                        <h5>@blob.Name</h5>
                        <a href="https://@blob.Url" class="fa fa-eye btn btn-primary ml-1"></a>
                        <button class="btn btn-info fas fa-copy ml-1" onclick="copyToClipboard('https://@blob.Url')"></button>       
                        <button class="btn btn-danger fa fa-trash ml-1" type="submit" asp-page-handler="delete" asp-route-id="@blob.Id"></button>
                    </div>
                    <div class="card-body">
                        @switch (blob.Type)
                        {
                            case var type when type.StartsWith("image"):
                                <img src="https://@blob.Url" alt="@blob.Description" class="img-thumbnail" />
                                break;
                            case var type when type.Equals("text/plain"):
                                <span class="fa fa-file-alt fa-10x"></span>
                                break;
                            case var type when type.Contains("application/pdf"):
                                <span class="fa fa-file-pdf fa-10x"></span>
                                break;
                            case var type when type.StartsWith("video"):
                                <span class="fa fa-file-video fa-10x"></span>
                                break;
                            case var type when type.StartsWith("audio"):
                                <span class="fa fa-file-audio fa-10x"></span>
                                break;
                            default:
                                <span class="fa fa-file fa-10x"></span>
                                break;
                            }
                    </div>
                    <div class="card-footer">
                        <span>@blob.Type</span>
                    </div>
                </div>
            </div>
        }

    </div>
</form>
@* TODO: (Feature) Adding to clipboard *@
@section Scripts
{
    function copyToClipboard(url) {
        var textarea = document.createElement("textarea");
        var text = document.createTextNode(url);
        textarea.appendChild(text);
        textarea.select();
        document.execCommand("copy");
    }
}