@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    @if(string.IsNullOrEmpty(Configuration["GoogleAnalyticsTrackingId"]) == false)
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src='https://www.googletagmanager.com/gtag/js?id=@Configuration["GoogleAnalyticsTrackingId"]'></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', '@Configuration["GoogleAnalyticsTrackingId"]');
        </script>
        <!-- End of global site tag (gtag.js) - Google Analytics -->
        <!-- Google Analytics -->
        <script>
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@Configuration["GoogleAnalyticsTrackingId"]', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End of Google Analytics -->
    }
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModernPhysics.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/lib/baguettebox.js/baguetteBox.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Fizyka Współczesna</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>                
            <div id="navbarContent" class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3"><a class="nav-link" asp-page="/Resources">Materiały</a></li>
                <li class="nav-item mr-3"><a class="nav-link" asp-page="/Categories">Kategorie</a></li>
                <li class="nav-item mr-3"><a class="nav-link" asp-page="/About">O stronie</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item mr-3"><a class="nav-link" asp-area="Admin" asp-page="/Manage/Index">Zarządzanie</a></li>
                    <li class="nav-item mr-3">
                        <form class="form-inline" asp-area="Admin" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link">Wyloguj</button>
                         </form>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-3"><a class="nav-link" asp-area="Admin" asp-page="/Login">Logowanie</a></li>
                }
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </main>

    <section class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5>Strony</h5>
                    <ul>
                        <li><a asp-area="" asp-page="/Index">Strona domowa</a></li>
                        <li><a asp-page="/Resources">Materiały</a></li>
                        <li><a asp-page="/Categories">Kategorie</a></li>
                        <li><a asp-page="/About">O stronie</a></li>
                        <li><a asp-page="/Privacy">Polityka prywatności</a></li>
                        <li><a asp-area="Admin" asp-page="/Login">Logowanie</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <h5>Inne strony</h5>
                    <ul>
                        <li><a href="https://www.fizyka.umk.pl/">Strona wydziału</a></li>
                        <li><a href="http://dydaktyka.fizyka.umk.pl">Fizyka dla każdego</a></li>
                        <li><a href="http://dydaktyka.fizyka.umk.pl/Wystawy_archiwum/z_omegi/index-pl.html">Stara strona fizyki współczesnej</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="d-flex flex-column sticky-footer-wrapper">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Adam Błaszczyk 2020</span>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/baguettebox.js/baguetteBox.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
